* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.hamburger-menu
{
  width: 2rem;
  height: 2rem;
}
.header {
  height: 100vh;
  width: 100%;
  position: sticky;
}

.img-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.banner {
  position: absolute;
  top: 30%;
  left: 15%;
}

.banner h1 {
  font-family: monospace;
  font-size: 40px;
  color: white;
  font-weight: 400;
  width: 50%;
  line-height: 40px;
  letter-spacing: 0.1rem;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.banner p {
  font-family: monospace;
  font-size: 20px;
  width: 70%;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}
.banner button
{
  background-color: #c29525;
  border: solid 1px black;
  border-radius: 30px;
  width: 10rem;
  height: 2.5rem;
  font-family: monospace;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1.2rem;
}
