* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ----------------------------Header--------------------- */

.hamburger-menu {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 2;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  border-radius: 2px;
  /* width: 100%; */
  height: 4px;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.header {
  height: 100vh;
  width: 100%;
  position: sticky;
  overflow: hidden;
  perspective: 80rem;
}

.img-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: scale 10s;
}

.banner {
  position: absolute;
  top: 30%;
  left: 15%;
  /* opacity: 0; */
}

.banner h1 {
  font-family: monospace;
  font-size: 40px;
  color: white;
  font-weight: 400;
  width: 50%;
  line-height: 40px;
  letter-spacing: 0.1rem;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  opacity: 0;
  animation: moveBanner 1s .5s forwards;
}

.banner p {
  font-family: monospace;
  font-size: 20px;
  width: 70%;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  opacity: 0;
  animation: moveBanner 1s .7s forwards;
}

.banner button {
  background-color: #c29525;
  border: solid 1px black;
  border-radius: 30px;
  width: 10rem;
  height: 2.5rem;
  font-family: monospace;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0;
  animation: moveBanner 1s .9s forwards;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveBanner {
  0% {
    transform: translateY(30rem) rotateY(-50deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

/* ----------------------------Sidebar---------------------------- */

.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  margin-top: 20px;
}

.menu-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #555;
}

.social-media {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 30px;
  margin: 15px;
  width: 40px;
  height: 40px;
  background-color: #777;
  
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media i:hover {
background-color: red;
transition: .4s;
color: blue;
}
